body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
}

form {
  display: flex;
  align-content: center;
  justify-content: center;
}

.input-field {
  font-size: 16px;
  height: 20px;
  width: 200px;
  padding: 0 auto 0 5px;
}

.submit {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
}

.remove {
  margin: 10px;
  padding: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
  align-self: flex-end;
}

.complete {
  margin: 10px;
  border: 1px solid #000;
}
