body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #96ceab, #f9e4a8);
  font-family: 'Raleway', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  padding: 60px;
  width: 50%;
  margin: 100px auto 0 auto;
  padding: 20px;
  text-align: left;
}

.new-task-box {
  display: flex;
  width: 300px;
  height: 20px;

}

.list-render {
  margin-top: 20px;
  width: 500px;
}


.input-field {
  border: 1px solid #000;
  font-size: 16px;
  height: 20px;
  padding: 0 auto 0 0;
}

.submit {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
}

.submit:hover {
  background-color: #f9e4a8;
}

button {
  justify-content: flex-end;
}

.remove {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  color: #666666;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  display: block;
  line-height: 0px;
  padding: 11px 3px;
}

.remove:before {
 content: "×";
 margin-top: auto;
 margin-bottom: auto;
 float: right;
}

.remove:hover {
  color: black;
}
