* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 90%;
  background: #F7F8F9;
  margin: 0;
  padding: 0;
}

form {
  position: relative;
}

input {
  font-size: 20px;
  line-height: 40px;
  padding: 5px 80px 5px 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: rgba(204, 204, 204, 0.57) 0 0 4px;
}

input:focus + button {
  opacity: 1;
}

button {
  font-size: 15px;
  padding: 7px 17px;
  background-color: #1ba0e3;
  border: none;
  border-radius: 2px;
  color: #fff;
  position: absolute;
  right: 9px;
  top: 11px;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

#app {
  margin: 20px;
  min-width: 400px;
}

.text {
  color: #272e31;
  opacity: 1;
}

.complete .text {
  opacity: 0.6;
}

.remove {
  position: absolute;
  right: 0;
  font-weight: bold;
  font-size: 16px;
  color: rgba(0,0,0,0.3);
  text-decoration: none;
  padding: 5px 6px;
  line-height: 16px;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

ul {
  list-style-type: none;
  padding: 0 15px;
  margin: 0;
}

li:first-child {
  margin-top: 30px;
}

li:last-child {
  margin-bottom: 30px;
}

li {
  -webkit-user-select: none;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

li:before {
  content: '✔';
  border-radius: 100%;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: 1px;
  margin-right: 10px;
  border: 2px solid #B9B9B9;
  text-align: center;
  font-size: 11px;
  line-height: 20px;
  color: #F7F8F9;
}

li:hover .remove {
  opacity: 1;
}

li.complete:before {
  background: #1ba0e3;
  border-color: #1ba0e3;
}
